<h2>*Nom Nom Crunch*</h2>
<h2><%=@@main_pet.name%> has now eaten and it's food level is now 10</h2>
<form action="/" method="post">
  <button type="submit" name="pet_page" class="btn">
    <h4>Return to home page</h4>
  </button>
</form>
