<h2><%= @output_string%></h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
