<h2>Your pet is <%=@@main_pet.name%>. Click an option! </h2>

<form action="/status" method="post">
  <button type="submit" name="check_status" class="btn">
    <h4>Check on yo pet!</h4>
  </button>
</form>
<form action="/feed" method="post">
  <button type="submit" name="feed" class="btn">
    <h4>feed your pet!</h4>
  </button>
</form>
<form action="/sleep" method="post">
  <button type="submit" name="feed" class="btn">
    <h4>put your pet to bed!</h4>
  </button>
</form>
