<h2>*Zzzzzz ZZZZzzzz*</h2>
<h2><%=@@main_pet.name%> is having a snooze. sleep level is now 10</h2>
<form action="/" method="post">
  <button type="submit" name="pet_page" class="btn">
    <h4>Return to home page</h4>
  </button>
</form>
