<h2><%=@@main_pet.name%></h2>
<h4>food score: <%=@@main_pet.food_level%></h4>
<h4>sleep score: <%=@@main_pet.sleep_level%></h4>
<h4>activity score: <%=@@main_pet.activity_level%><h4>
<form action="/" method="post">
  <button type="submit" name="pet_page" class="btn">
    <h4>Return to home page</h4>
  </button>
</form>
